.root {
  margin: 40px auto;
  width: 30%;
}
.navigation {
  width: 70%;
  padding: 0 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current {
  border-bottom: 3px solid #007AFF;
}
.navigationItem {
  padding-bottom: 1rem;
}
.navigationItem:hover {
  border-bottom: 3px solid #007AFF;
  cursor: pointer;
}
.navigationItem .navLink {
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .root {
    width: 100%;
  }
  .navigation {
    margin: 20px auto
  }
}