.App {
  background: #E3E3E1;
  padding-bottom: 30px;
  padding-top: 30px;
  /* padding-left: 30px;
  padding-right: 30px; */
  height: 100%;
}
.hideSidebar {
  display: none;
}

.menuIcon {
  cursor: pointer;
  font-weight: bold;
  font-size: 60px;
}
.menuIcon:hover {
  color: #fff;
}


